<div class="app-character">
  <h3>{{ character.name }}</h3>
  
  <div class="character-info">
    <img *ngIf="character.images[0]" 
         src="{{ character.images[0] }}" 
         alt="{{ character.name }} Image">
    <img *ngIf="!character.images[0]" 
         src="../../../assets/images/imagennodisponible.jpg" 
         alt="image no disponible">
  </div>

  <!-- Botón de corazón favorito -->
  <button class="favorite-button" (click)="toggleFavorite()"
        [ngClass]="{
          'favorite': character.favorite,
          'not-favorite': !character.favorite
        }">
    <i class="fa"
       [ngClass]="{
         'fa-heart': character.favorite,
         'fa-heart-o': !character.favorite
       }"></i>
    {{ character.favorite ? 'Remove from Favorites' : 'Add to Favorites' }}
  </button>

  <button class="details-button" (click)="redirectToDetails(character.id)">View Details</button>
</div>
