<app-navbar></app-navbar>
<div class="container">
  <div class="form-container">
    <form class="form" [formGroup]="characterForm" (ngSubmit)="submitForm()">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name">
      <div *ngIf="characterForm.get('name')?.hasError('required') && characterForm.get('name')?.touched">
        Name is required.
      </div>

      <label for="occupation">Occupation:</label>
      <select id="occupation" formControlName="occupation">
        <option value="" disabled>Select Occupation</option>
        <option *ngFor="let option of occupationOptions" [value]="option">{{ option }}</option>
      </select>
      <div *ngIf="characterForm.get('occupation')?.hasError('required') && characterForm.get('occupation')?.touched">
        Occupation is required.
      </div>

      <label for="rankI">Rank in Naruto:</label>
      <select id="rankI" formControlName="rankI">
        <option value="" disabled>Select Rank in Naruto </option>
        <option *ngFor="let option of rankIOptions" [value]="option">{{ option }}</option>
      </select>
      <div *ngIf="characterForm.get('rankI')?.hasError('required') && characterForm.get('rankI')?.touched">
        Rank in Naruto is required.
      </div>

      <label for="rankII">Rank in Naruto shippuden:</label>
      <select id="rankII" formControlName="rankII">
        <option value="" disabled>Select Rank in Naruto shippuden</option>
        <option *ngFor="let option of rankIIOptions" [value]="option">{{ option }}</option>
      </select>
      <div *ngIf="characterForm.get('rankII')?.hasError('required') && characterForm.get('rankII')?.touched">
        Rank in Naruto shippuden is required.
      </div>

      <label for="sex">Sex:</label>
      <select id="sex" formControlName="sex">
        <option value="" disabled>Select Sex</option>
        <option *ngFor="let option of sexOptions" [value]="option">{{ option }}</option>
      </select>
      <div *ngIf="characterForm.get('sex')?.hasError('required') && characterForm.get('sex')?.touched">
        Sex is required.
      </div>

      <label for="status">Status:</label>
      <input type="text" id="status" formControlName="status">
      <div *ngIf="characterForm.get('status')?.hasError('required') && characterForm.get('status')?.touched">
        Status is required.
      </div>

      <label for="jutsu">Jutsu:</label>
      <input type="text" id="jutsu" formControlName="jutsu">
      <div *ngIf="characterForm.get('jutsu')?.hasError('required') && characterForm.get('jutsu')?.touched">
        Jutsu is required.
      </div>

      <label for="clan">Clan:</label>
      <select id="clan" formControlName="clan">
        <option value="" disabled>Select Clan</option>
        <option *ngFor="let option of clanOptions" [value]="option">{{ option }}</option>
      </select>
      <div *ngIf="characterForm.get('clan')?.hasError('required') && characterForm.get('clan')?.touched">
        Clan is required.
      </div>

      <label for="images">Image URL:</label>
      <input type="text" id="images" formControlName="images">
      
      

      <button type="submit" [disabled]="characterForm.invalid">Submit</button>
    </form>
  </div>
  
  <div class="character-preview">
    <div class="info">
      <h2>Character Preview</h2>
      <p><strong>Name:</strong> {{ characterForm.get('name')?.value }}</p>
      <p><strong>Occupation:</strong> {{ characterForm.get('occupation')?.value }}</p>
      <p><strong>Rank in Naruto:</strong> {{ characterForm.get('rankI')?.value }}</p>
      <p><strong>Rank in Naruto shippuden:</strong> {{ characterForm.get('rankII')?.value }}</p>
      <p><strong>Sex:</strong> {{ characterForm.get('sex')?.value }}</p>
      <p><strong>Status:</strong> {{ characterForm.get('status')?.value }}</p>
      <p><strong>Clan:</strong> {{ characterForm.get('clan')?.value }}</p>
      <p><strong>Jutsu:</strong> {{ characterForm.get('jutsu')?.value }}</p>
    </div>
    <div class="image">
      <img [src]="characterForm.get('images')?.value" class="image-preview" *ngIf="characterForm.get('images')?.value">   
    </div>
  </div>
</div>
