<div class="body">
  <app-search-bar (searchEvent)="onSearch($event)"></app-search-bar>
  <app-filter (filtersChanged)="applyFilters($event)"></app-filter>

  <div class="loading loading-circle" *ngIf="loading">
    <img src="../../../assets/images/carga.gif" alt="Cargando..." />
    <h1>Loading, Please wait...</h1>
  </div>
  

  <div class="characters-container">
    <div *ngFor="let character of characters">
      <app-character [character]="character"></app-character>
    </div>
  </div>

  <div class="pagination">
    <button (click)="changePage(1)" [disabled]="currentPage === 1">Primera</button>
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
    <button *ngFor="let page of getVisiblePages()" (click)="changePage(page)" [class.active]="page === currentPage">{{ page }}</button>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Siguiente</button>
    <button (click)="changePage(totalPages)" [disabled]="currentPage === totalPages">Última</button>
  </div>
</div>