<header>
    <div >
        <nav>
            <ul class="container">
                <li>
                    <button class="button" routerLink="/home">Home</button>
                </li>
                <li>
                    <button class="button" routerLink="/create">Create</button>
                </li>
                <li>
                    <button class="button" routerLink="/creations">My creations</button>
                </li>
                <li>
                    <button class="button" routerLink="/favorites">My favorites</button>
                </li>
            </ul>
        </nav>
    </div>
</header>
